.App {
  text-align: center;
  margin-top: 50px;
}

.title {
  font-size: 50px;
  margin-bottom: 70px;
}
/* All Books */
.booksDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.allbookscover {
  width: 80px;
}

/* Book Page */
.aBook {
  width:250px;
}
